.test-monster-mask {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}
.test-monster-mask-text {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: red;
}
.test-monster-tool {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 50px;
  z-index: 99999;
  padding: 0 10px;
  pointer-events: none;
}
.test-monster-tool-stop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  pointer-events: auto;
}
.test-monster-tool-text {
  background-image: -webkit-linear-gradient(left, #e6a23c, #fff 25%, #fff 50%, #e6a23c 75%, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 4s infinite linear;
  background-clip: text;
  font-size: 17px;
  font-weight: 700;
}
@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.test-monster-record {
  position: fixed;
  top: 0;
  right: 10px;
}
